:root {
 
    --primary-text-color: #FFFFFF;
 --title-text-color: #212121;
 --accent-color: #2196F3;
 --small-text-color: #757575;
--background-color: #2F303A;



}

body{
    color: var(--title-text-color);
    background-color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;

}

.list {
    padding: 0;
        margin: 0;

    list-style: none;
}

.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}



.link {
    text-decoration: none;

}



.logo {
   color: var(--accent-color);
    font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;

        

     

}


.container {
    margin-left: 15px;
    margin-right: 15px;
    width: 1200px;

}
/* снизу вроде убрать */
.webstudio {
    color: var(--accent-color)
}







.accent{
  color: #000000;  
}



.header {
    background-color: var(--primary-text-color);
}

.current {
    color: var(--accent-color);
}

/* site-nav */
.nav-link,
.contact-link {
color: var(--title-text-color);

font-weight: 500;
     
        line-height: 1.15px;
        letter-spacing: 0.02em
        
 
}



/* контакт-нав */
.contact-link
{

    color: var(--small-text-color);
    
        
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.footer .contact-link:hover,
.footer .contact-link:focus,
.current {
color: var(--accent-color);
}
/* снизу вроде убрать */


.section-first, .section-second {
    color: var(--title-text-color);
 

}

.section-third {
    color: var(--title-text-color);
background-color: #F5F4FA;
}




.hero {
    background-color: var(--background-color);
    padding: 200px 280px;
    text-align: center;
}

.hero-title {
  
font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
  
        text-transform: uppercase;
        letter-spacing: 0.06em;
    color: var(--primary-text-color)
    
  
 

 
}
 


/* features */
.feature-title {
 
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase

}
.feature-text {
    color: var(--small-text-color);

 


}

/* кнопка */
.button {
        font-weight: 700;
            font-size: 16px;
            line-height: 30px;
color: var(--primary-text-color);
    background-color: var(--accent-color);

    border-radius: 4px;
    padding: 10px 32px;
   
 



}
.portfolio-button {
    color: var(--title-text-color);
        background-color: #F5F4FA;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        border-radius: 4px;
}
.portfolio-button:hover{
        color: var(--primary-text-color);
            background-color: var(--accent-color);
}
.portfolio-button:focus{
        color: var(--primary-text-color);
            background-color: var(--accent-color);
}

.portfolio-title {
 color: var(--title-text-color);
font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-text {
    color: var(--small-text-color);
}

.workers-names
{
font-size: 16px;
font-weight: 500;

    line-height: 1.18;
    text-align: center;

}

.workers-text {
 color: var(--small-text-color);
        font-size: 16px;
        line-height: 1.18;  
        text-align: center;
}

.footer {
    background-color: var(--background-color);
  
}

.footer-nav-adress {
    color: var(--primary-text-color);
    font-style: normal;
}



.currently-active {
    color: var(--primary-text-color);
        background-color: var(--accent-color)
}

.footer .logo .accent {
    color: var(--primary-text-color);
}


.footer .contact-link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-style: normal;
}


.pictures {
    list-style: none;
}
.footer-contact {
    list-style: none;
}


.footer-nav-adress {
    text-decoration: none;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
        padding-bottom: 32px;

}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item {
 background-color: tomato;
    margin-right: 50px;
}

.site-nav .item:last-child {
    margin-right: 0;
}

.contact-nav {
    display: flex;
    margin-left: auto;
}

.contact-nav .item {
    margin-right: 50px;
}

.hide {
    display: none;
}

.main-nav {
    display: flex;
    align-items: center;
}

.feature-list {
    display: flex;
text-align: center;
}

.feature-list .item {
    width: 270px;

}

.section-first {
    margin-top: 94px;
    margin-bottom: 94px;
    padding-right: 215px;
    padding-left: 215px;
}

.section-second {
    margin-bottom: 94px;
}

   
/* лого шрифт Raleway вес 700*/
/* шрифт везде кроме лого Roboto  */
/* шрифт Roboto вес. Жирный 500. Мелкий 400 */
/* весь маленький текст #757575 */
/* весь жирный текст при копировании еще написано background #212121;  */
/* цвет лого синяя часть. где черная не ясно #2196F3 */
/* цвет кнопки с услугами (акцент) #2196F3 */
/* цвет футера #2F303A */
/* цвет за сотрудникам background: #F5F4FA; */
/* цвет  рядом с кнопкой услуг background: #2F303A; */